<mat-card class="example-card">
  <div class="row" >
    <div class="col-12" >
        <div class="card__header" >
          <h3 class="card__header__title" > Registro Persona </h3>
        </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-5" >
    <div class="col-5" >
      <img src="https://image.flaticon.com/icons/svg/219/219970.svg" alt="">
    </div>
  </div>
  <form #form="ngForm"  [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
    <div class="row mt-4 d-flex justify-content-center" >
      <div class="col-12 col-md-10" >
        <mat-form-field class="full-width">
          <input  formControlName="firstname" matInput placeholder="Nombres" value="">
        </mat-form-field>
        <div *ngIf="submitted && registerForm.get('firstname').errors" class="invalid-feedback">
          <small class="text-error" *ngIf="registerForm.get('firstname').hasError('required')"> Campo Nombres es requerido </small>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center" >
      <div class="col-12 col-md-10" >
        <mat-form-field class="full-width">
          <input formControlName="lastname" matInput placeholder="Apellidos" value="">
        </mat-form-field>
        <div *ngIf="submitted && registerForm.get('lastname').errors" class="invalid-feedback mb-2">
          <small class="text-error" *ngIf="registerForm.get('lastname').hasError('required')"> Campo Apellido es requerido </small>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center" >
      <div class="col-12 col-md-5" >
        <button type="button" style="background-color: #00796B;" class="full-width" mat-raised-button (click)="newPerson()" > Nuevo </button>
      </div>
      <div class="col-12 col-md-5" >
        <button type="submit" class="full-width" mat-raised-button  > Guardar </button>
      </div>
    </div>
  </form>

</mat-card>