.card__header{
    background-color: #3F51B5;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 3px;
    color: #eee;
}

.card__header__title{
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 500;

}

button{
    background-color: #3D5AFE;
    color: #fff;
}

.text-error{
    color: red;
}