
/* Boostrap */
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

/* Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #FAFAFA; }

.full-width{
    width: 100%;
}